/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Mulish', sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/* header styles */

.header {
    margin: 50px 130px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title-con {
    display: flex;
    align-items: center;
}

.title-img {
    width: auto;
}

.header-title {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
}

#red-color {
    color: #FF5400;
}

.nav {
    display: flex;
    align-items: center;
    position: relative;
}

.nav>ul {
    display: flex;
    align-items: center;
}

.nav ul li {
    list-style: none;
}

.nav li a {
    color: #424247;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 40px;
}

.bars-icons {
    display: none;
    color: #131318;
}

/* Main styles */

/* banner section styles */

.banner {
    margin: 50px 130px 100px;
    text-align: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 100px 0;

}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;

}

.banner-para {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 150px 45px;
}

.banner-form {
    padding: 16px 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;



}

.banner-form input,
select {
    border-radius: 8px;
    background: #FFF;
    outline: none;
    border: none;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    width: auto;
}

.when-select,
.select-type {
    padding-right: 8px;
}

.banner-btn {
    border-radius: 8px;
    background: #FF5400;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 24px;
}

/* popular section styles */

.popular {
    margin: 0 130px 100px;
}

.popular-section {
    display: flex;
    gap: 50px;
}

.popular-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.popular-para-one,
.popular-para-two {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0;
}

.popular-text-con,
.popular-img-con {
    flex-basis: 50%;
}

.popular-img-con>img {
    width: 100%;
}

.popular-text-con ul>li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 20px;

}


.popular-btn {
    padding: 14px 32px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    outline: none;
    border: none;
}

/* Destination section styles*/

.destination {
    margin: 0 130px;
}

.row-img {
    width: 100%;
}

.destin-img-row {
    position: relative;


}

.row-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.destination-row-one {
    display: flex;
    gap: 20px;
}

.destination-row-two {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.destination-row-three {
    display: flex;
    gap: 20px;
}

.destination-text-area {
    text-align: center;
}

.destination-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.destination-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 50px 40px;
}

/* Most popular section */

.most-popular {
    margin: 100px 130px 0;
}

.most-popular-des-area {
    text-align: center;
}

.most-popular-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.most-popular-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 50px 48px;
}

.most-card {
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
    box-shadow: 0 0 5px rgba(41, 206, 246, 0.20);
}

.card-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 20px 0 12px;
}

.card-des {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.most-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    height: 350px;
    transition: all 0.2s ease;
}

.most-img:hover {
    transform: scale(1.01);
}

.most-popular-cards-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* choose-section styles */

.choose-section {
    margin: 100px 130px;
}

.choose-text-area {
    text-align: center;
}

.choose-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.choose-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 50px 48px;
}

.choose-first-rows {
    display: flex;
    gap: 24px;

}

.information-row-one {
    flex-basis: 50%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.information-row-two {
    flex-basis: 50%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}

.choose-sec-rows {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.information-row-three {
    flex-basis: 50%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
}

.information-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 30px 0 16px;
}

.information-para {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Deals & Discounts */

.deals-section {
    margin: 0 130px 100px;
}

.deals-text-area {
    text-align: center;
    padding-bottom: 45px;
}

.deals-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.deals-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px 0 48px;
}

.deals-cards-area-one {
    background-image: url("../images/Group\ 39.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 50px;
    display: flex;
    justify-content: right;
}

.deals-cards-area-two {
    background-image: url("../images/Group\ 40.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 50px;
    display: flex;
    justify-content: left;
    margin: 20px 0;

}

.deal-card-row {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    flex-basis: 60%;
    padding: 50px;
}

.deals-card-icon {
    display: flex;
    gap: 20px;
}

.icon-para {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.icon-para i {
    color: #FF5400;
    margin-right: 8px;
}

.deal-row-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 24px 0 16px;
}

.deal-row-para {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.price-deals {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    padding: 16px 0 24px;
}

.deals-btn {
    border-radius: 8px;
    background: #FF5400;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 24px;

}
.deals-section-foot-btn{
    text-align: center;
    padding-top: 45px;
}
.see-deals-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 24px;
    border-radius: 8px;
    background: #FF5400;
    outline: none;
    border: none;
}

/* Perfect Place section */

.perfect-place {
    margin: 0 130px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.perfect-img {
    width: 100%;
}

.perfect-title {
    color: #131318;
    font-size: 35px;
    font-weight: 800;
    line-height: 40px;
}

.perfect-des {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0;
}

.perfect-ul li {
    color: #131318;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 20px;
}

.perfect-ul {
    padding-bottom: 20px;
}

.perfect-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    outline: none;
    border: none;
    padding: 14px 40px;

}

/* Newsletter section */
.newsletter-section {
    margin: 0 130px 100px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.newsletter-img-area {
    position: relative;
    flex-basis: 60%;
}

.newsletter-form-area {
    flex-basis: 40%;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.news-form-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.news-form-para {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 16px 0 24px;
}

.news-hr {
    background: rgba(19, 19, 24, 0.10);
}


.news-form {
    display: flex;
    flex-direction: column;
}

.news-form input {
    padding: 16px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.news-text {
    margin: 20px 0 15px;
}

.news-btn {
    padding: 14px 0;
    border-radius: 8px;
    background: #FF5400;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    margin-top: 24px;
}

.img-text {
    position: absolute;
    bottom: 50px;
    right: 12px;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    padding: 16px;
    text-align: center;
}

.img-text-para {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.img-text-title {
    color: #FFF;
    font-size: 30px;
    font-weight: 800;
}

.newsletter-img-area>img {
    width: 100%;
}

/* Footer styles */
.footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(19, 19, 24, 0.05);
    padding: 100px 0;
}

.footer-title-con {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-img {
    height: 40px;
}

.footer-title {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.footer-des {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.footer-icons i {

    width: auto;
    height: 24px;
    margin-right: 20px;
}

.footer-hr {
    width: 60%;
    margin: 50px 0;
}

.footer-res {
    color: #131318;
    font-size: 16px;
    font-weight: 300;
}

/* responsive for mobile */

@media screen and (max-width:600px) {
    /* header section  */

    .header {
        margin: 20px;
    }

    .header-title {
        font-size: 1rem;
    }

    .title-img {
        width: 30px;
    }

    .nav>ul {

        display: none;
    }




    .bars-icons {
        display: block;
        color: #131318;
    }

    /* banner styles */

    .banner {
        margin: 20px;
        padding: 30px 0;
    }

    .banner-title {
        font-size: 22px;
    }

    .banner-para {
        font-size: 14px;
        padding: 8px 15px 30px;
    }

    .banner-form {
        flex-direction: column;
        margin: 0 24px;
        gap: 20px;
        padding: 16px;
    }

    .banner-form input,
    select {
        width: 100%;
    }

    .banner-btn {
        width: 100%;
        justify-content: center;
    }

    /* popular styles  */

    .popular {
        margin: 0 20px 20px;

    }

    .popular-text-con,
    .popular-img-con {
        flex-basis: 100%;
    }

    .popular-section {
        flex-direction: column;
        gap: 24px;
    }

    .popular-title {
        font-size: 20px;
    }

    .popular-img {
        width: 100%;
    }

    .popular-para-one,
    .popular-para-two {
        font-size: 14px;
    }

    .popular-text-con ul>li {
        font-size: 13px;
    }

    /* Destination section styles */
    .destination {
        margin: 20px;
    }

    .destination-row-one,
    .destination-row-two,
    .destination-row-three {
        flex-direction: column;
    }

    .destination-para {
        padding: 16px 0 20px;
    }

    .destination-title {
        font-size: 20px;
    }

    /* choose-section styles */

    .choose-section {
        margin: 20px;
    }

    .choose-first-rows {
        flex-direction: column;
    }

    .information-row-one,
    .information-row-two,
    .information-row-three {
        flex-basis: 100%;
    }

    .choose-title {
        font-size: 20px;
    }

    /*  Deals & Discounts */

    .deals-section {
        margin: 20px;
    }

    .deals-text-area {
        padding-bottom: 16px;
    }

    .deals-title {
        font-size: 20px;
    }

    .deals-cards-area-one,
    .deals-cards-area-two {
        padding: 150px 16px 16px;

    }
    .deals-section-foot-btn{
        display: none;
    }

    .deal-card-row {
        flex-basis: 100%;
        padding: 25px;
    }

    /* Perfect Place section */

    .perfect-place {
        margin: 20px;
        grid-template-columns: 1fr;
    }

    .perfect-title {
        font-size: 20px;
    }

    /*  Newsletter section  */
    .newsletter-section {
        margin: 20px;
        flex-direction: column;
    }

    .newsletter-img-area,
    .newsletter-form-area {
        flex-basis: 100%;
    }

    .newsletter-form-area{
        padding: 22px;
    }

    .img-text {
        padding: 5px;

    }

    .img-text-para {
        font-size: 12px;
    }

    .img-text-title {
        font-size: 16px;
    }

    .newsletter-form-area {
        width: auto;
    }

    /* Most popular section */
    .most-popular {
        margin: 20px;
    }

    .most-popular-cards-area {
        grid-template-columns: 1fr;
    }

    .most-popular-title {
        font-size: 20px;
    }

    .most-popular-para {
        font-size: 12px;
    }

    /* Footer styles */

    .footer {
        padding: 30px;
    }

    .footer-des {
        padding: 16px 0;
    }

    .footer-hr {
        margin: 24px 0;
    }

    .footer-title {
        font-size: 21px;
    }

    .footer-img {
        height: 33px;
    }


}